
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{current_page.name}}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav mode="side" class="sidenav" closed>
    <mat-nav-list>
      <!-- <a mat-list-item>Change Data Set</a> -->
      <a mat-list-item (click)="onSidenavClick(0)">About Me</a>
      <a mat-list-item (click)="onSidenavClick(1)">Custom AI Project</a>
      <a mat-list-item (click)="onSidenavClick(2)">Angular Projects</a>
      <a mat-list-item (click)="onSidenavClick(3)">Android Project</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="div-content">
      <ng-template *ngComponentOutlet="current_page.component"></ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
